In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['doc','township','range','section','quarter'])

In [3]:
df

Empty DataFrame
Columns: [doc, township, range, section, quarter]
Index: []

In [4]:
df = df.append({'doc':'DOCC3669920_0',
                'township':'11N',
                'range':'67W',
                'section':'34',
                'quarter':'SE4'},ignore_index=True)

In [5]:
df

             doc township range section quarter
0  DOCC3669920_0      11N   67W      34     SE4

In [8]:
df.to_csv('data/results.csv',index=False)